body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 100vh; */
}

#timer {
  font-size: 120px;
  text-align: center;
  margin: 40px auto;
}
#buttons {
  text-align: center;
}

button {
  font-size: 30px;
  background-color: brown;
  padding: 15px 25px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  color: white;
  margin: 10px;
}

.timer {
  font-size: 30px;
  text-align: center;
}
